.container {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  height: 100vh;
  }
  
  .main { 
    background-color: #26474E;
    grid-area: 1 / 1 / 7 / 6; 
  }

  .header { 
    background-color: #2CCED2;
    grid-area: 1 / 6 / 7 / 9; 
  }

  .footer { 
    background-color: #76CDCD;
    grid-area: 7 / 1 / 9 / 9; 
  } 
